*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 706px;
    background-color: #182572;
    background-image: url(./img/majin.png);
    background-size: 580px 520px;
    background-repeat: no-repeat;
    background-position: center;   
}

.header-1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4C5AAB;
    margin-left: 70px;
    margin-right: 70px;
  
}

.img-crunchyroll{
    padding-top: 14px;
}

.icone-login {
    margin-right: 4px;
}

.login {
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-2 {
    background: linear-gradient(360deg, rgb(0, 0, 0), rgba(24, 37, 114, 0));
    height: 625px;
}

.conteudo-header-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    padding-top: 310px;
}

.titulo {
    font-size: 50px;
    line-height: 55px;
    font-weight: 700;
    margin-bottom: 15px;
}

.botao-nav {
    width: 250px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    font-family: 'Roboto';
    border-radius: 15px;
    border: none;
    color: #03040E;
    text-transform: uppercase;
    margin-top: 20px;
}

.container {
    padding-bottom: 35px;
    border-bottom: 1px solid #E5E5E5;
    max-width: 100vw;
    margin-left: 70px;
    margin-right: 70px;
   
}

.section-principal {
    display: flex;
    max-width: 100%;
}

.titulo-container {
   font-size: 20px;
   font-weight: 500;
   line-height: 23px;
   padding-bottom: 20px;
   padding-top: 35px;
}

.img-1 {
    background-image: url(./img/Tokyo\ Revengers.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 165px;
    width: 180px;
}

.img-2 {
    background-image: url(./img/Sun-Ken\ Rock.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 165px;
    width: 180px;
}

.img-3 {
    background-image: url(./img/Black\ Clover.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 165px;
    width: 180px;
}

h3 {
    color: #929292;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}
 
.sinopse-animes {
    display: flex;
    align-items: center; 
}

.sinopse {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #929292;
    margin-top: 5px;
    text-align: initial;
}

.texto-sinopse {
    padding-left: 10px;
    padding-right: 10px;   
    font-family: 'roboto';
    width: 200px;
    height: 165px;
}

.catalogo {
    display: flex;
    align-items: center;
}

.layout-container  {
    width: 300px;
    height: 165px;
    border-radius: 15px;
    margin-right: 20px;
}

.anime-1 {
    background-image: url(./img/anime1.png);
    background-size: cover;
}

.anime-2 {
    background-image: url(./img/anime2.png);
    background-size: cover;
}

.anime-3 {
    background-image: url(./img/anime3.png);
    background-size: cover;
}

.anime-4 {
    background-image: url(./img/anime4.png);
    background-size: cover;
}

.manga-1 {
    background-image: url(./img/manga1.png);
    background-size: cover;
}

.manga-2 {
    background-image: url(./img/manga2.png);
    background-size: cover;
}

.manga-3 {
    background-image: url(./img/manga3.png);
    background-size: cover;
}

.manga-4 {
    background-image: url(./img/manga4.png);
    background-size: cover;
}

.new-anime-1 {
    background-image: url(./img/new-anime1.png);
    background-size: cover;
}

.new-anime-2 {
    background-image: url(./img/new-anime2.png);
    background-size: cover;
}

.new-anime-3 {
    background-image: url(./img/new-anime3.png);
    background-size: cover;
}

.new-anime-4 {
    background-image: url(./img/new-anime4.png);
    background-size: cover;
}

.sinopse-container-5 {
    color: #929292;
    font-size: 14px;
    margin-bottom: 12px;
}

.cowboy-1 {
    background-image: url(./img/cowboy-1.png);
    background-size: cover;
    width: 310px;
    height: 240px;
    border-radius: 15px;
    margin-right: 20px;
}

.cowboy-2 {
    background-image: url(./img/cowboy-2.png);
    background-size: cover;
    width: 970px;
    height: 240px;
    border-radius: 15px;    
}

.rodape-principal {
    color: #E5E5E5;
    height: 445px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
}

.logo-rodape {
    width: 82px;
    height: 82px;
    margin-top: 70px;
    border-radius: 20px;
}

.titulo-rodape{
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 12px;
}

.texto-rodape-principal {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 980px;
    height: 55px;
    margin-bottom: 20px;
}

.stream {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop {
    background-image: url(./img/laptop.png);
    width: 77px;
    height: 55px;
    margin-right: 20px;
}

.tablet {
    background-image: url(./img/tablet.png);
    width: 77px;
    height: 55px;
    margin-right: 22px;
}

.smartphone {
    background-image: url(./img/phone.png);
    width: 30px;
    height: 55px;
}

.playstation {
    background-image: url(./img/ps4.png);
    width: 100px;
    height: 60px;
}

.xbox {
    background-image: url(./img/xbox.png);
    width: 78px;
    height: 50px;
}

.smart-tv {
    background-image: url(./img/samsung.png);
    width: 80px;
    height: 50px;
}

.roku {
    background-image: url(./img/roku.png);
    width: 80px;
    height: 50px;
}

.rodape-final {
    width: 100vw;
    height: 75px;
    color: #E5E5E5;
    background-color: #161616;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-final {
    font-size: 17px;
    font-weight: 700;
    padding-top: 12px;
    margin-left: 75px;
}

.texto-final {
    font-size: 14px;
    font-weight: 400;
    margin-left: 75px;
}

.botao-rodape {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #03040E;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    margin-right: 70px;
    border: none;
}

@media screen and (max-width: 780px) {
    
   .titulo {
       font-size: 20px;
    }

   span {
       font-size: 15px;
       text-align: center;
    }

   .botao-nav  {
       font-size: 10px;
       width: 150px;
       height: 40px;
    }

   .titulo-container {
       text-align: center;
    }

   .section-principal {
       flex-direction: column;
       align-items: center;
    }

   .sinopse-animes {
        flex-direction: column;
    }

   .texto-sinopse {
       text-align: center;
       margin-top: 20px;
       width: 500px;
    }

    h3 {
        font-size: 17px;
    }

    h4 {
        font-size: 25px;
    }

    .sinopse {
        font-size: 20px;
        line-height: 25px ;
    }

   .catalogo {
       flex-direction: column;
    }

   .layout-container {
       margin-bottom: 30px;
    }

   .sinopse-container-5 {
        padding-bottom: 40px;
    }
   
    .cowboy-2{
        background-size: contain;
        background-repeat: no-repeat;
        width: 310px;
        height: 240px;
        margin-right: 20px; 
        margin-top: 20px;
    }

   .titulo-rodape{
       font-size: 20px;
    }

   .texto-rodape-principal {
       font-size: 15px;
       text-align: center;
       width: 70vw;
    }

    .titulo-final {
        font-size: 15px;
        margin-left: 20px;
    }

    .texto-final {
        font-size: 11px;
        margin-left: 20px;
    }

    .botao-rodape {
        width: 80px;
        height: 25px;
        font-size: 10px;
        margin-right: 50px
    }


}